# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven specific files
target/

# Gradle specific files
build/

# Output AWS
awsautomatization/outputs/

# Output logs
.out

#MetricsOutput
/LoadBalancer/metricsOutput/*